/* footer {
    background-color: #000000;
} */

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-left: 25rem;
    margin-right: 25rem;
    gap: 2rem;
    /* background-color: #000000; */
}

.follow-youtube {
    grid-column: 1/2;
    background-color: #ECECEC;
    text-align: center;
}

.follow-youtube h4 {
    font-weight: normal;
}

.subcribe {
    grid-column: 2/-1;
}

.subcribe h4 {
    background-color: #ECECEC;
    text-align: center;
    font-weight: normal;
}
