header nav {
 display: flex;
 justify-content: center;
 background-color: #ECECEC;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0 2rem;
}

body {
    margin: 0;
}

.logo {
    text-align: center;
    margin-top: 2rem;
}

a {
    color: inherit;
    text-decoration: none;
}

span {
    color: #767676;
    font-size: .875rem;
    line-height: 1.4;
    font-style: italic;
}

.post-date {
    margin-right: 2rem;
}